.box{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: inline-block;
    background-color: red;
    margin: -2px;
}

.black{
    background-color: black;
    border-radius: 5px;
}
